body {
    background-color: lightskyblue;
}
.container {
    margin-top: 3%
}
#search {
    width: 45%;
    display: block;
    padding-left: 1%;
    margin: 0px auto; 
    height: 125px;
    border: 3px solid black;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
#submit {
    display: block;
    margin: 0px auto;
    width: 25%;
    height: 80px;
}

#btndiv {
    margin-top: 2%;
}

.pokemon {
    color: whitesmoke;
    font-size: x-large;
    font-weight: bold;
    stroke: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: inline;
}

#pokemon-info {
    margin: 3% auto;
    width: 40%;
    height: 330px;
    border: 3px solid black;
}
#pokeball-img {
    width: 7%;
    border-radius: 100%;
    position: relative;
    top: 2.5px;
}
#pokemon-name-div {
    padding-left: 5px;
    background-color: red;
    width: 50%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: 5%;
    border: 3px solid black;
}
 #pokemon-img {
    width: 13%;
    height: 200px;
}