body {
    background-color: lightskyblue;
}
body * {
    color: whitesmoke;
     text-align: center;
     font-size: 1.1em;
}
#container {
    margin-top: 3%
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
 }
li {
    float: left;
}
li a {
    display: block;
    padding: 16px 16px;
    text-decoration: none;
 }
li a:hover {
    background-color: #111;
}
.active {
    background-color: darkred;
}
.btn {
    outline: none;
    width: 47%;
    height: 28px;
    background-color: indigo;
    font-size: 0.9em;
    border-radius: 10px;
}
#search {
    width: 45%;
    padding-left: 1%;
    margin: 0px auto;
    height: 125px;
}
#buttons {
    padding: 1%;
}
#buttons > input {
    margin: auto;
    height: 80px;
    font-size: 1.2em;
}
#submit {
    width: 25%;
}
#random {
    width: 16%;
}
.pokemon {
    font-weight: bold;
    stroke: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: inline;
    margin-bottom: 1%;
}
.description {
    width: 50%;
    margin: 1% auto;
    background-color: #333;
    border-radius: 25px;
    padding: 1% 1% 0 1%;
}
#pokemon-info {
    grid-template-columns: 185px min-content 60px 85px 70px 105px 90px min-content min-content;
    grid-template-rows: 45px min-content min-content min-content min-content;
    grid-template-areas: "img img . name name name name name "
                         "img img . type data data not-logged . "
                         "img img . weight weight . not-logged . "
                         "img img . description description description description description "
                         " . . . description description description description description ";

    width: 40%;
    height: 330px;
    margin: 3% auto;
    grid-gap: 5px;
}
#pokemon-info > div {
    text-align: left;
    overflow-wrap: break-word;
    border: 3px solid black;
}
#pokeball-img {
    width: 7%;
    border-radius: 100%;
    position: relative;
    top: 2.5px;
}
#pokemon-name-div {
    grid-area: name;
    background-color: red;
    border: 3px solid black;
}
 #pokemon-img {
    width: 150%;
}
#pokemon-type-div {
    grid-area: type;
}
#pokemon-img-div {
    grid-area: img;
    border: none !important;
    margin-right: 25px;
}
#pokemon-weight-div {
    grid-area: weight;
}
#pokemon-description-div {
    grid-area: description;
    text-align: justify !important;
    white-space: nowrap;
    padding: 3px;
}
#pokemon-data-div {
    grid-area: data;
}
#not-logged-in {
    grid-area: not-logged;
    padding-left: 5px;
    border: none !important;
}
#user-login {
    width: 40%;
    margin: 2% auto;
}
.user {
    width: 60%;
    padding-left: 1%;
    margin: 2% auto;
    height: 50px;
}
#login {
    width: 40%;
    height: 75px;
}
header {
    color: black;
    font-size: 6rem;
    margin-top: 5%;
}
.forgot-div {
    margin: 1% auto auto 1%;
    width: 17%;
}
.forgot {
    margin: 2% auto;
    width: 100%;
    padding-left: 3%;
    height: 30px;
}
#register-div {
    display: block;
    width: 35%;
    margin: 0px auto;
}
.register {
    width: 100%;
    padding-left: 2%;
    margin: 2% auto;
    height: 35px;
}
.error {
    color: black;
    font-weight: bold;
    text-align: left;
}
#pokemon-seen {
    margin-left: 15%;
}
.update-btn {
    width: 20%;
    margin: 3% auto 1% auto;
}
#account-btns {
    width: 80%;
    margin: auto;
}
input[type="text"], input[type="password"], input[type="email"] {
    font-size: 1.25em;
    color: black;
    text-align: left;
    outline: none;
    display: block;
    border: 3px solid black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
}
@media (max-width: 1030px) {
    .description {
        width: 75%;
    }
    input[type="text"], input[type="password"], input[type="email"] {
        width: 75% !important;
       font-size: 1.1em;
    }
    #submit {
        width: 35%;
    }
    #random {
        width: 25%;
    }

}
@media (max-width: 750px) {
    input[type="text"], input[type="password"], input[type="email"] {
        font-size: 0.95em;
        width: 85% !important;
    }
    #account-btns input {
        font-size: 0.7em;
        width: 23%;
    }
}
@media (max-width: 550px) {
    .description {
    font-size: 0.85em;
    }
    #search {
       font-size: 0.8em;
       height: 100px;
    }
    #buttons > input {
        height: 65px !important;
        font-size: 1.15em !important;
    }
     #account-btns input {
        font-size: 0.7em;
        width: 30%;
        height: 45px !important;
    }
    #account-info {
        width: 90%;
        font-size: 1.5em;
    }
}
@media (max-width: 440px) {
    #search {
       font-size: 0.65em;
       height: 70px;
    }
    li {
        font-size: 0.73em;
    }
    #buttons > input {
        height: 45px !important;
        font-size: 0.9em !important;
    }
    #account-info {
        font-size: 1.1em;
    }
}
@media (max-width: 330px) {
    .description {
        font-size: 0.7em;
    }
    #search {
       font-size: 0.6em;
       height: 60px;
    }
    li {
        font-size: 0.61em;
    }
    #buttons > input {
        font-size: 0.8em !important;
    }
    #account-info {
        font-size: 0.95em;
    }
}