{% extends "layout.html" %}
{% set active_page = "account" %}
{% block content %}
    <div class="description" id="account-info">
        <p class="pokemon">
            Username: {{ username }} <br>
            E-mail: {{ email }} <br>
            Pokemon seen: {{seen}} <br>
            Pokemon caught: {{caught}} <br>
            <div id="account-btns">
                <form action="/account" method="post" style="display: inline">
                    <input class="btn update-btn" name="update-info" type="submit" value="Update">
                </form>
                <form action="/account" method="post" style="display: inline">
                    <input class="btn update-btn" name="log-out" type="submit" value="Log out">
                </form>
            </div>
        </p>
    </div>
{% endblock content %}