{% extends "layout.html" %}
{% set active_page = "account" %}
{% block content %}
    <div class="description">
        <p class="pokemon">
            Username: {{ username }} <br>
            E-mail: {{ email }} <br>
            Pokemon seen: {{seen}} <br>
            Pokemon caught: {{caught}} <br>
            <div id="account-btns">
                <form action="/account" method="post" style="display: inline">
                    <input id="update-info" name="update-info" type="submit" value="Update info" class="btn">
                </form>
                <form action="/account" method="post" style="display: inline">
                    <input id="log-out" name="log-out" type="submit" value="Log out" class="btn">
                </form>
            </div>
        </p>
    </div>
{% endblock content %}