{% extends "layout.html" %}
{% set active_page = "login" %}
{% block content %}
    <header>Pokedex</header>
    <div id="user-login">
        <p style="color: black;"> {{ login_error }}</p>
        <form action="/login" method="post">
            <input class="user" name=login-username type="text" placeholder="Enter username/email">
            <input class="user" name=login-password type="password" placeholder="Enter password">
            <input id="login" class="btn" type="submit" value="Login">
        </form>
        <p><a style="color: black;" href="forgot">Forgot your password?</a></p>
        <p style="color: black;">Don't have an account? <a style="color: black;" href="register">Register</a></p>
    </div>
{% endblock content %}