{% extends "layout.html" %}
{% set active_page = "login" %}
{% block content %}
    <header>Pokedex</header>
    <div id="user-login">
        <p>{% with messages = get_flashed_messages() %}
            {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}</p>
        <form action="/login" method="post">
            <input class="user" name=login-username type="text" placeholder="Enter username/email">
            <input class="user" name=login-password type="password" placeholder="Enter password">
            <input id="login" type="submit" value="Login">
        </form>
        <p><a href="forgot">Forgot your password?</a></p>
        <p>Don't have an account? <a href="register">Register</a></p>
    </div>
{% endblock content %}