{% extends "layout.html" %}
{% set active_page = "login" %}
{% block content %}
    <div class="forgot-div">
        {% if too_old != "Expired token!" %}
                <form action="/reset/{{token}}" method="post" name="form" onsubmit="return reset_password()">
                    <input class="forgot" id="reset-password" name="reset-password" type="password" placeholder="Enter new password">
                    <input class="forgot" id="reset-repassword" name="reset-repassword" type="password" placeholder="Re-enter new password">
                    <input class="btn" type="submit">
                </form>
            </div>
        {% endif %}
    <p id="reset-error">{{ too_old }}</p>
{% endblock content %}